/* contact css */

.container-form {
    text-align: center;
}

.form h2 {
    margin: 10px;
    padding: 10px;
}

.form p {
    text-align: left;
    margin: 10px;
    padding: 10px;
}

.container-other {
    text-align: center;
}

.other h2 {
    margin: 10px;
    padding: 10px;
}

.other p {
    text-align: left;
    margin: 10px;
    padding: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.btn:hover {
    background-color: #218838;
}

form {
    margin: 20px auto;
    width: 300px;
    display: flex;
    flex-direction: column;
}

form input,
form textarea {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

form button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #218838;
}