/* portfolio.css */

.home {
    text-decoration: none;
    color: black;
}

.container-portfolio {
    text-align: center;
}

.container-current {
    text-align: center;
}

.container1 {
    justify-content: center;
    display: block;
}

.container2 {
    justify-content: center;
    display: block;
}

.container-done {
    text-align: center;
}

.container-down {
    text-align: center;
}

.portfolio h2 {
    font-size: 40px;
    margin: 10px;
    padding: 10px;
}

.portfolio p {
    text-align: left;
    margin: 10px;
    padding: 10px;
}

.blog {
    width: 600px;
    text-align: left;
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

.blog h4 {
    margin: 10px;
    padding: 10px;
}

.blog ul li {
    margin: 10px;
    padding: 10px;
}

.none {
    width: 600px;
    text-align: left;
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

.none h4 {
    margin: 10px;
    padding: 10px;
}

.none p {
    margin: 10px;
    padding: 10px;
}

.title {
    margin: 10px;
    padding: 10px;
}

.business {
    width: 600px;
    text-align: left;
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

.business h4 {
    margin: 10px;
    padding: 10px;
}

.business ul li {
    margin: 10px;
    padding: 10px;
}

.qr {
    width: 600px;
    text-align: left;
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

.qr h4 {
    margin: 10px;
    padding: 10px;
}

.qr ul li {
    margin: 10px;
    padding: 10px;
}

.lp {
    width: 600px;
    text-align: left;
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

.lp h4 {
    margin: 10px;
    padding: 10px;
}

.lp ul li {
    margin: 10px;
    padding: 10px;
}

.resume {
    width: 600px;
    text-align: left;
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

.resume h4 {
    margin: 10px;
    padding: 10px;
}

.resume ul li {
    margin: 10px;
    padding: 10px;
}

.down {
    text-align: left;
    margin: 10px;
    padding: 10px;
}