.books-post {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.books-post header h1 {
    font-size: 2em;
    color: white;
    margin-bottom: 10px;
}

.books-meta {
    font-size: 0.9em;
    color: white;
}

.books-content p {
    line-height: 1.6;
    margin-bottom: 15px;
}

.books-footer {
    font-size: 1em;
    text-align: center;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #eaeaea;
}

.date {
    font-size: 0.9em;
    margin-top: 5px;
}

.list {
    margin-left: 30px;
    margin-bottom: 15px;
}
